.jumbotron {
    border-bottom: solid 8px maroon;
    text-align: center;
    background-color: rgb(13, 13, 66);
}

.h1-btn {
    border: none;
    padding: 5px;
    background: none;
    color: white;
}